.parallax { 
  background: url('../images/myself.jpg') no-repeat center center fixed;
  background-position: center 0px;
  height: 600px;
  position:relative;
  padding:0;
  margin:0;
  background-size:contain;
  z-index:-2;
}

@media (min-device-width: 450px){
    .parallax{
      height:760px;
      background-size: cover;
    }
}

#bannerText{
  color:white;
  margin: 0 30px;
  margin-top: 400px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
}

.transNav{
  background-color:transparent;
  position:fixed;
  z-index:3;
  width:100%;
  transition: all 500ms linear;
/*   height:100px; */
}

.solid{
  background-color:grey;
/*   height:60px; */
  position:fixed;
  z-index:3;
  width:100%;
  transition: all 500ms linear;
}

#introContent{
  padding: 120px 30px 120px 30px;
  background: #e6e6e6;
  font-size: 1.7em;
  text-align: center;
  font-family: "brandon-grotesque", sans-serif;
}

#contactContent{
  padding: 120px 0 120px;
  background: #e6e6e6;
  font-size: 1.3em;
  text-align: center;
  font-family: "brandon-grotesque", sans-serif;
}

h3{
    font-size: 1.5em;
    margin: 0 0 0 0;
    clear: both;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2b2b2b;
}

.inside{
  color:#595959;
}

.important{
  color:#262626;
}

.sectionHead {
    padding: 0 0 15px!important;
    margin: 0 30px 30px;
    text-align: center;
    position: relative;
}

.tit{
  font-size:1.5em;
}
.text{
  font-size: 1.3em;
  
}
#projects {
  padding: 40px 0;
  display: block;
  position: relative;
  margin: 0 15px;
}

.thumbs {
  margin: 0 auto;
  max-width: 1045px;
}

img{
  margin-left: auto;
  margin-right: auto;
  width:100%;
  transition: all 200ms linear;
}

.element{
  margin:20px 0;
  display: inline-block;
  overflow: hidden;
  transition: all 200ms linear;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.arrow{
  width:80px;
  display: block;
  position:absolute;
  left: 50%;
  bottom:20px;
}

.projectImage{
  box-sizing: border-box;
}

.projectImage:hover {
    transform:scale(1.2);
    transition: all 200ms linear;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.element:hover{
  background-color:grey;
  transition: all 200ms linear;
}
.projectTitle{
  padding: 10px 12px 12px;
  color: #fff;
  font-size:25px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align:center;
  width:92%;
  position: absolute;
  top: 50%;
  margin: -20px auto 0 !important;
  visibility:hidden;
  transition: all 200ms linear;
  pointer-events: none;
  cursor: default;
}

a[ id= "aboutBut" ]:target ~ #introContent{
  -webkit-transform: translateY( 0px);
  transform: translateY( 0px );
}