body {
    margin: 0;
  }
  nav {
    background-color: #ccc;
  }
  .margin-auto {
    margin: 0 auto;
    width: 100%;
  }
  .pull-left {
    float: left;
  }
  .pull-right {
    float: right;  
  }
  .clearfix::after {
    content:'';
    display: block;
    clear: both;
  }
  
  header, footer {
    background-color: #ccc;
  }
  .slider {
    position: relative;
    height: 150px;
  }
  .slider-btn {
    position: absolute;
    right: 10px;
    bottom: -10px;
    background-color: purple;
  }
  main {
    border: solid 1px black;
  }
   
.main-image img{
  max-width:100%;
  height:auto;
 }

nav{
  justify-content:space-between;
}
      
nav a{
  margin:auto 10px;
}
      
main{
  flex-direction:column;
}

.main-image{
  align-self:center;
}
.articles{
  display:flex;
  justify-content:space-around;
}
footer{
  justify-content:space-around;
}
.footer-links{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}